In [1]:
import pandas as pd
import numpy as np

In [2]:
#Loading dataset from folder location

In [3]:
AirbnbRentals = pd.read_excel("C:/Users/vanch/Desktop/Entity/DSO110/Wrangled Cities 2.0/North Carolina.xlsx")

In [4]:
AirbnbRentals.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,108061,Walk to stores/parks/downtown. Fenced yard/Pet...,320564,Lisa,NaN,28801,35.60670,-82.55563,Entire home/apt,120,30,89,2019-11-30,0.71,2,344,0,NaN
1,155305,Cottage! BonPaul + Sharky's Hostel,746673,BonPaul,NaN,28806,35.57864,-82.59578,Entire home/apt,90,1,347,2021-12-05,2.75,7,244,68,NaN
2,156805,"Private Room ""Ader"" at BPS Hostel",746673,BonPaul,NaN,28806,35.57864,-82.59578,Private room,66,1,67,2020-01-01,0.54,7,0,0,NaN
3,156926,"Mixed Dorm ""Top Bunk #1"" at BPS Hostel",746673,BonPaul,NaN,28806,35.57864,-82.59578,Shared room,33,1,296,2021-11-14,2.36,7,262,15,NaN
4,160594,Historic Grove Park,769252,Elizabeth,NaN,28801,35.61442,-82.54127,Private room,125,30,58,2015-10-19,0.46,1,0,0,NaN

In [5]:
#Checking for columns and names of columns

In [6]:
AirbnbRentals.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')

In [7]:
#Removing columns with irrelevant information

In [8]:
AirbnbRentals.drop(['id', 'host_id', 'host_name', 'neighbourhood_group', 'number_of_reviews_ltm', 'last_review',
                    'reviews_per_month', 'calculated_host_listings_count', 'license'],axis=1, inplace=True)

In [9]:
AirbnbRentals.head()

,name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,availability_365
0,Walk to stores/parks/downtown. Fenced yard/Pet...,28801,35.60670,-82.55563,Entire home/apt,120,30,89,344
1,Cottage! BonPaul + Sharky's Hostel,28806,35.57864,-82.59578,Entire home/apt,90,1,347,244
2,"Private Room ""Ader"" at BPS Hostel",28806,35.57864,-82.59578,Private room,66,1,67,0
3,"Mixed Dorm ""Top Bunk #1"" at BPS Hostel",28806,35.57864,-82.59578,Shared room,33,1,296,262
4,Historic Grove Park,28801,35.61442,-82.54127,Private room,125,30,58,0

In [10]:
#Checking district counts

In [11]:
AirbnbRentals['neighbourhood'].value_counts()

28806    752
28801    619
28803    358
28804    331
28805    259
28704    167
28715     78
28732     62
Name: neighbourhood, dtype: int64

In [12]:
#Checking for null data

In [13]:
AirbnbRentals.isnull().sum()

name                 0
neighbourhood        0
latitude             0
longitude            0
room_type            0
price                0
minimum_nights       0
number_of_reviews    0
availability_365     0
dtype: int64

In [14]:
AirbnbRentals.shape

(2626, 9)

In [15]:
#Checking data types and names for remaining columns

In [16]:
print(AirbnbRentals.dtypes)

name                  object
neighbourhood          int64
latitude             float64
longitude            float64
room_type             object
price                  int64
minimum_nights         int64
number_of_reviews      int64
availability_365       int64
dtype: object

In [17]:
AirbnbRentals.columns

Index(['name', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'availability_365'],
      dtype='object')

In [18]:
#Counting totals of each variable in column

In [19]:
AirbnbRentals['room_type'].value_counts()

Entire home/apt    2211
Private room        390
Hotel room           17
Shared room           8
Name: room_type, dtype: int64

In [20]:
#Recoding room_type into integers

In [21]:
def room (series): 

    if series == "Entire home/apt":

        return 0

    if series == "Private room": 

        return 1

    if series == "Shared room": 

        return 2

    if series == "Hotel room": 

        return 3

AirbnbRentals['room'] = AirbnbRentals['room_type'].apply(room)

In [22]:
AirbnbRentals.head()

,name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,availability_365,room
0,Walk to stores/parks/downtown. Fenced yard/Pet...,28801,35.60670,-82.55563,Entire home/apt,120,30,89,344,0
1,Cottage! BonPaul + Sharky's Hostel,28806,35.57864,-82.59578,Entire home/apt,90,1,347,244,0
2,"Private Room ""Ader"" at BPS Hostel",28806,35.57864,-82.59578,Private room,66,1,67,0,1
3,"Mixed Dorm ""Top Bunk #1"" at BPS Hostel",28806,35.57864,-82.59578,Shared room,33,1,296,262,2
4,Historic Grove Park,28801,35.61442,-82.54127,Private room,125,30,58,0,1

In [23]:
AirbnbRentals.columns

Index(['name', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'availability_365', 'room'],
      dtype='object')

In [24]:
AirbnbRentals.to_csv("C:/Users/vanch/Desktop/Entity/DSO110/Wrangled Cities 2.0/NC.csv")