In [1]:
import pandas as pd
import numpy as np

In [2]:
#Loading dataset from folder location

In [3]:
AirbnbRentals = pd.read_excel("C:/Users/vanch/Desktop/Entity/DSO110/Wrangled Cities 2.0/New Orleans.xlsx")

In [4]:
AirbnbRentals.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,19091,Fully Furnished Cozy Apartment,72880,John,NaN,Leonidas,29.96100,-90.11950,Entire home/apt,60,1,478,2021-12-03,3.37,1,183,11,"17STR-08877, 20-OSTR-0105"
1,71624,Ravenwood Manor (Historic Bywater),367223,Susan,NaN,Bywater,29.96153,-90.04364,Entire home/apt,130,3,245,2021-11-17,1.86,1,332,19,"20RSTR-31027, 20-OSTR-31018"
2,74498,Maison Marais 1: Large Local Living,391462,Georgia,NaN,St. Roch,29.96986,-90.05172,Entire home/apt,92,3,521,2021-11-22,3.99,2,238,25,"Exempt: This listing is a licensed hotel, mote..."
3,79536,FeelAtHomeInNO PrivateApt,428362,Miriam,NaN,Seventh Ward,29.97803,-90.07450,Entire home/apt,75,4,524,2021-11-30,4.06,1,9,22,"20RSTR-32056, 20-OSTR-00016"
4,79542,Beautiful Room Uptown Home - License 17STR-10083,428397,James,NaN,Marlyville - Fontainbleau,29.94470,-90.11289,Private room,89,3,39,2021-11-15,0.33,2,280,3,"17str-10083, 20-OSTR-0545"

In [5]:
#Checking for columns and names of columns

In [6]:
AirbnbRentals.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')

In [7]:
#Removing columns with irrelevant information

In [8]:
AirbnbRentals.drop(['id', 'host_id', 'host_name', 'neighbourhood_group', 'number_of_reviews_ltm', 'last_review',
                    'reviews_per_month', 'calculated_host_listings_count', 'license'],axis=1, inplace=True)

In [9]:
AirbnbRentals.head()

,name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,availability_365
0,Fully Furnished Cozy Apartment,Leonidas,29.96100,-90.11950,Entire home/apt,60,1,478,183
1,Ravenwood Manor (Historic Bywater),Bywater,29.96153,-90.04364,Entire home/apt,130,3,245,332
2,Maison Marais 1: Large Local Living,St. Roch,29.96986,-90.05172,Entire home/apt,92,3,521,238
3,FeelAtHomeInNO PrivateApt,Seventh Ward,29.97803,-90.07450,Entire home/apt,75,4,524,9
4,Beautiful Room Uptown Home - License 17STR-10083,Marlyville - Fontainbleau,29.94470,-90.11289,Private room,89,3,39,280

In [10]:
#Checking district counts

In [11]:
AirbnbRentals['neighbourhood'].value_counts()

Central Business District    851
Central City                 510
Marigny                      385
Seventh Ward                 383
Treme - Lafitte              376
                            ...
West Lake Forest               4
Dixon                          3
New Aurora - English Turn      3
B. W. Cooper                   2
Read Blvd West                 2
Name: neighbourhood, Length: 67, dtype: int64

In [12]:
#Checking for null data

In [13]:
AirbnbRentals.isnull().sum()

name                 0
neighbourhood        0
latitude             0
longitude            0
room_type            0
price                0
minimum_nights       0
number_of_reviews    0
availability_365     0
dtype: int64

In [14]:
AirbnbRentals.shape

(6038, 9)

In [15]:
#Checking data types and names for remaining columns

In [16]:
print(AirbnbRentals.dtypes)

name                  object
neighbourhood         object
latitude             float64
longitude            float64
room_type             object
price                  int64
minimum_nights         int64
number_of_reviews      int64
availability_365       int64
dtype: object

In [17]:
AirbnbRentals.columns

Index(['name', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'availability_365'],
      dtype='object')

In [18]:
#Counting totals of each variable in column

In [19]:
AirbnbRentals['room_type'].value_counts()

Entire home/apt    5124
Private room        810
Hotel room           70
Shared room          34
Name: room_type, dtype: int64

In [20]:
#Recoding room_type into integers

In [21]:
def room (series): 

    if series == "Entire home/apt":

        return 0

    if series == "Private room": 

        return 1

    if series == "Shared room": 

        return 2

    if series == "Hotel room": 

        return 3

AirbnbRentals['room'] = AirbnbRentals['room_type'].apply(room)

In [22]:
AirbnbRentals.head()

,name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,availability_365,room
0,Fully Furnished Cozy Apartment,Leonidas,29.96100,-90.11950,Entire home/apt,60,1,478,183,0
1,Ravenwood Manor (Historic Bywater),Bywater,29.96153,-90.04364,Entire home/apt,130,3,245,332,0
2,Maison Marais 1: Large Local Living,St. Roch,29.96986,-90.05172,Entire home/apt,92,3,521,238,0
3,FeelAtHomeInNO PrivateApt,Seventh Ward,29.97803,-90.07450,Entire home/apt,75,4,524,9,0
4,Beautiful Room Uptown Home - License 17STR-10083,Marlyville - Fontainbleau,29.94470,-90.11289,Private room,89,3,39,280,1

In [23]:
AirbnbRentals.columns

Index(['name', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'availability_365', 'room'],
      dtype='object')

In [24]:
AirbnbRentals.to_csv("C:/Users/vanch/Desktop/Entity/DSO110/Wrangled Cities 2.0/NO.csv")