In [34]:
import pandas as pd
import numpy as np

In [35]:
#Loading datasets from folder location

In [36]:
Austin = pd.read_csv("C:/Users/vanch/Desktop/Entity/DSO110/Reina's Wrangled Cities/listingsaustin.csv")
Boston = pd.read_csv("C:/Users/vanch/Desktop/Entity/DSO110/Reina's Wrangled Cities/listingsboston.csv")
Chicago = pd.read_csv("C:/Users/vanch/Desktop/Entity/DSO110/Reina's Wrangled Cities/listingschicago.csv")
LA = pd.read_csv("C:/Users/vanch/Desktop/Entity/DSO110/Reina's Wrangled Cities/listingsla.csv")
Nashville = pd.read_csv("C:/Users/vanch/Desktop/Entity/DSO110/Reina's Wrangled Cities/listingsnashville.csv")
Portland = pd.read_csv("C:/Users/vanch/Desktop/Entity/DSO110/Reina's Wrangled Cities/listingsportland.csv")

In [37]:
#Merging all datasets together into new AirbnbRentals dataset

In [38]:
AirbnbRentals = Austin.append(Chicago)

In [39]:
AirbnbRentals = AirbnbRentals.append(Boston)

In [40]:
AirbnbRentals = AirbnbRentals.append(LA)

In [41]:
AirbnbRentals = AirbnbRentals.append(Nashville)

In [42]:
AirbnbRentals = AirbnbRentals.append(Portland)

In [43]:
#Checking end of dataset to ensure merge went through

In [44]:
AirbnbRentals.tail()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
3729,53829293,Everything you need | Studio in Portland,359069961,Casey,NaN,Northwest District,45.531189,-122.690158,Entire home/apt,154,120,0,NaN,NaN,39,365,0,NaN
3730,53879278,Relax in comfort | 1BR in Portland,359069961,Casey,NaN,Hayhurst,45.484074,-122.747648,Entire home/apt,173,365,0,NaN,NaN,39,365,0,NaN
3731,53880025,The Câlin & Magnifique Suite ~ NW 23rd Wonder,33606696,Hayden,NaN,Northwest District,45.534796,-122.697880,Entire home/apt,234,1,0,NaN,NaN,7,319,0,Exempt
3732,53891208,Modern 2 BR Home Walkable to Alberta and more,374074476,Kaiya,NaN,King,45.561982,-122.661731,Entire home/apt,87,2,0,NaN,NaN,2,354,0,Exempt
3733,53895940,Modern Stylish Apt in Alphabet District / Slab...,339414830,Campbell | Skye,NaN,Northwest District,45.532956,-122.690237,Entire home/apt,182,2,0,NaN,NaN,7,269,0,City registration pending

In [45]:
#Checking for columns and names of columns

In [46]:
AirbnbRentals.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')

In [47]:
#Removing columns with irrelevant information

In [48]:
AirbnbRentals.drop(['id', 'host_id', 'host_name', 'neighbourhood_group', 'number_of_reviews_ltm', 'last_review',
                    'reviews_per_month', 'calculated_host_listings_count', 'license'],axis=1, inplace=True)

In [49]:
AirbnbRentals.head()

,name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,availability_365
0,*UT/Hyde Park Craftsman Apartment,78705,30.30002,-97.73637,Entire home/apt,102,1,232,0
1,Zen-East in the Heart of Austin (monthly rental),78702,30.27752,-97.71377,Entire home/apt,179,7,26,0
2,"Eco friendly, Colorful, Clean, Cozy monthly share",78702,30.27614,-97.71320,Private room,114,30,9,0
3,"Walk to 6th, Rainey St and Convention Ctr",78702,30.26057,-97.73441,Entire home/apt,104,2,578,345
4,NW Austin Room,78729,30.45697,-97.78422,Private room,39,1,264,0

In [ ]:
#Recoding availability and minimum nights into percentage

In [ ]:
(100. * AirbnbRentals.availability_365 / AirbnbRentals.sum()).round(1).astype(str) + '%'

In [50]:
AirbnbRentals['neighbourhood'].value_counts()

78704                   1902
Hollywood               1586
Venice                  1567
78702                   1459
District 19             1435
                        ...
Chatsworth Reservoir       1
Leona Valley               1
Avalon Park                1
Lopez/Kagel Canyons        1
Gage Park                  1
Name: neighbourhood, Length: 529, dtype: int64

In [51]:
AirbnbRentals.isnull().sum()

name                 3
neighbourhood        0
latitude             0
longitude            0
room_type            0
price                0
minimum_nights       0
number_of_reviews    0
availability_365     0
dtype: int64

In [52]:
AirbnbRentals.shape

(64690, 9)

In [53]:
AirbnbRentals = AirbnbRentals.dropna()

In [54]:
AirbnbRentals.shape

(64687, 9)

In [55]:
AirbnbRentals.isnull().sum()

name                 0
neighbourhood        0
latitude             0
longitude            0
room_type            0
price                0
minimum_nights       0
number_of_reviews    0
availability_365     0
dtype: int64

In [56]:
#Checking data types and names for remaining columns

In [57]:
print(AirbnbRentals.dtypes)

name                  object
neighbourhood         object
latitude             float64
longitude            float64
room_type             object
price                  int64
minimum_nights         int64
number_of_reviews      int64
availability_365       int64
dtype: object

In [58]:
AirbnbRentals.columns

Index(['name', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'availability_365'],
      dtype='object')

In [59]:
#Counting totals of each variable in column

In [60]:
AirbnbRentals['room_type'].value_counts()

Entire home/apt    47450
Private room       15916
Shared room         1032
Hotel room           289
Name: room_type, dtype: int64

In [61]:
#Recoding room_type into integers

In [62]:
def room (series): 

    if series == "Entire home/apt":

        return 0

    if series == "Private room": 

        return 1

    if series == "Shared room": 

        return 2

    if series == "Hotel room": 

        return 3

AirbnbRentals['room'] = AirbnbRentals['room_type'].apply(room)

In [63]:
AirbnbRentals.head()

,name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,availability_365,room
0,*UT/Hyde Park Craftsman Apartment,78705,30.30002,-97.73637,Entire home/apt,102,1,232,0,0
1,Zen-East in the Heart of Austin (monthly rental),78702,30.27752,-97.71377,Entire home/apt,179,7,26,0,0
2,"Eco friendly, Colorful, Clean, Cozy monthly share",78702,30.27614,-97.71320,Private room,114,30,9,0,1
3,"Walk to 6th, Rainey St and Convention Ctr",78702,30.26057,-97.73441,Entire home/apt,104,2,578,345,0
4,NW Austin Room,78729,30.45697,-97.78422,Private room,39,1,264,0,1

In [64]:
AirbnbRentals.columns

Index(['name', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'availability_365', 'room'],
      dtype='object')

In [65]:
AirbnbRentals.to_csv("C:/Users/vanch/Desktop/Entity/DSO110/Reina's Wrangled Cities/AirbnbRentals.csv")