In [1]:
import pandas as pd
import numpy as np

In [2]:
#Loading datasets from folder location

In [3]:
Austin = pd.read_csv("C:/Users/vanch/Desktop/Entity/DSO110/Reina's Wrangled Cities/listingsaustin.csv")
Chicago = pd.read_csv("C:/Users/vanch/Desktop/Entity/DSO110/Reina's Wrangled Cities/listingschicago.csv")
Nashville = pd.read_csv("C:/Users/vanch/Desktop/Entity/DSO110/Reina's Wrangled Cities/listingsnashville.csv")
Portland = pd.read_csv("C:/Users/vanch/Desktop/Entity/DSO110/Reina's Wrangled Cities/listingsportland.csv")

In [4]:
#Merging all datasets together into new AirbnbRentals dataset

In [5]:
AirbnbRentals = Austin.append(Chicago)

In [6]:
AirbnbRentals = AirbnbRentals.append(Nashville)

In [7]:
AirbnbRentals = AirbnbRentals.append(Portland)

In [8]:
#Checking end of dataset to ensure merge went through

In [9]:
AirbnbRentals.tail()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
3729,53829293,Everything you need | Studio in Portland,359069961,Casey,NaN,Northwest District,45.531189,-122.690158,Entire home/apt,154,120,0,NaN,NaN,39,365,0,NaN
3730,53879278,Relax in comfort | 1BR in Portland,359069961,Casey,NaN,Hayhurst,45.484074,-122.747648,Entire home/apt,173,365,0,NaN,NaN,39,365,0,NaN
3731,53880025,The Câlin & Magnifique Suite ~ NW 23rd Wonder,33606696,Hayden,NaN,Northwest District,45.534796,-122.697880,Entire home/apt,234,1,0,NaN,NaN,7,319,0,Exempt
3732,53891208,Modern 2 BR Home Walkable to Alberta and more,374074476,Kaiya,NaN,King,45.561982,-122.661731,Entire home/apt,87,2,0,NaN,NaN,2,354,0,Exempt
3733,53895940,Modern Stylish Apt in Alphabet District / Slab...,339414830,Campbell | Skye,NaN,Northwest District,45.532956,-122.690237,Entire home/apt,182,2,0,NaN,NaN,7,269,0,City registration pending

In [10]:
#Checking for columns and names of columns

In [11]:
AirbnbRentals.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')

In [12]:
#Removing columns with irrelevant information

In [13]:
AirbnbRentals.drop(['id', 'host_id', 'host_name', 'neighbourhood_group', 'longitude', 'latitude',
                    'number_of_reviews_ltm', 'last_review', 'reviews_per_month', 'calculated_host_listings_count',
                    'license'],axis=1, inplace=True)

In [14]:
AirbnbRentals.head()

,name,neighbourhood,room_type,price,minimum_nights,number_of_reviews,availability_365
0,*UT/Hyde Park Craftsman Apartment,78705,Entire home/apt,102,1,232,0
1,Zen-East in the Heart of Austin (monthly rental),78702,Entire home/apt,179,7,26,0
2,"Eco friendly, Colorful, Clean, Cozy monthly share",78702,Private room,114,30,9,0
3,"Walk to 6th, Rainey St and Convention Ctr",78702,Entire home/apt,104,2,578,345
4,NW Austin Room,78729,Private room,39,1,264,0

In [15]:
AirbnbRentals['neighbourhood'].value_counts()

78704              1902
78702              1459
District 19        1435
District 17         808
Near North Side     760
                   ...
78712                 1
Burnside              1
West Elsdon           1
Edison Park           1
Avalon Park           1
Name: neighbourhood, Length: 247, dtype: int64

In [16]:
AirbnbRentals.isnull().sum()

name                 1
neighbourhood        0
room_type            0
price                0
minimum_nights       0
number_of_reviews    0
availability_365     0
dtype: int64

In [17]:
AirbnbRentals.shape

(28012, 7)

In [18]:
AirbnbRentals = AirbnbRentals.dropna()

In [19]:
AirbnbRentals.shape

(28011, 7)

In [20]:
AirbnbRentals.isnull().sum()

name                 0
neighbourhood        0
room_type            0
price                0
minimum_nights       0
number_of_reviews    0
availability_365     0
dtype: int64

In [21]:
#Checking data types and names for remaining columns

In [22]:
print(AirbnbRentals.dtypes)

name                 object
neighbourhood        object
room_type            object
price                 int64
minimum_nights        int64
number_of_reviews     int64
availability_365      int64
dtype: object

In [23]:
AirbnbRentals.columns

Index(['name', 'neighbourhood', 'room_type', 'price', 'minimum_nights',
       'number_of_reviews', 'availability_365'],
      dtype='object')

In [24]:
#Counting totals of each variable in column

In [25]:
AirbnbRentals['room_type'].value_counts()

Entire home/apt    22607
Private room        5005
Shared room          246
Hotel room           153
Name: room_type, dtype: int64

In [26]:
#Recoding room_type into integers

In [27]:
def room (series): 

    if series == "Entire home/apt":

        return 0

    if series == "Private room": 

        return 1

    if series == "Shared room": 

        return 2

    if series == "Hotel room": 

        return 3

AirbnbRentals['room_type'] = AirbnbRentals['room_type'].apply(room)

In [28]:
#AirbnbRentals['room_type'] = AirbnbRentals['room_type'].str.split().len()
#AirbnbRentals['room_type'].str.split(' ', n=-1, expand=True)
#dummies = pd.get_dummies(AirbnbRentals['room_type']).mul(AirbnbRentals.ActualValueColumn,0)

#Adding dummy coding

In [29]:
AirbnbRentals.head()

,name,neighbourhood,room_type,price,minimum_nights,number_of_reviews,availability_365
0,*UT/Hyde Park Craftsman Apartment,78705,0,102,1,232,0
1,Zen-East in the Heart of Austin (monthly rental),78702,0,179,7,26,0
2,"Eco friendly, Colorful, Clean, Cozy monthly share",78702,1,114,30,9,0
3,"Walk to 6th, Rainey St and Convention Ctr",78702,0,104,2,578,345
4,NW Austin Room,78729,1,39,1,264,0

In [30]:
AirbnbRentals.columns

Index(['name', 'neighbourhood', 'room_type', 'price', 'minimum_nights',
       'number_of_reviews', 'availability_365'],
      dtype='object')

In [31]:
AirbnbRentals.to_csv("C:/Users/vanch/Desktop/Entity/DSO110/Reina's Wrangled Cities/AirbnbRentals.csv")