In [1]:
import pandas as pd
import numpy as np

In [2]:
#Loading dataset from folder location

In [3]:
AirbnbRentals = pd.read_csv("C:/Users/vanch/Desktop/Entity/DSO110/Wrangled Cities 2.0/Austin.csv")

In [17]:
AirbnbRentals.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
4681,53868263,Landing | Modern Apartment with Amazing Amenit...,263502162,Landing,Other neighborhoods,Wallingford,47.652820,-122.342210,Entire home/apt,103,30,0,NaN,NaN,26,338,0,NaN
4682,53881175,"Walkscore 96! Dedicated Parking, Rooftop Deck ...",398317720,Joanne,Central Area,Minor,47.610829,-122.314302,Entire home/apt,214,1,0,NaN,NaN,11,90,0,STR-OPLI-21-001313
4683,53893335,Serendipity Room in the Central District,258796003,Julia,Central Area,Mann,47.601991,-122.298950,Private room,25,1,0,NaN,NaN,56,64,0,STR-OPLI-21-000070
4684,53901135,Gorgeous Patio‚≠êÔ∏èModern Nook‚≠êÔ∏èLong Staysüî•Full K...,374054982,Joel,Delridge,Riverview,47.544745,-122.355932,Entire home/apt,97,3,0,NaN,NaN,2,319,0,STR-OPLI-21-000982
4685,53904424,Chic Condo with Space Needle Views NYE Fireworks!,80333752,Ashley & Mike,Downtown,Belltown,47.614583,-122.348524,Entire home/apt,115,2,0,NaN,NaN,17,281,0,STR-OPLI-21-000328

In [18]:
#Checking for columns and names of columns

In [19]:
AirbnbRentals.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')

In [20]:
#Removing columns with irrelevant information

In [21]:
AirbnbRentals.drop(['id', 'host_id', 'host_name', 'neighbourhood_group', 'number_of_reviews_ltm', 'last_review',
                    'reviews_per_month', 'calculated_host_listings_count', 'license'],axis=1, inplace=True)

In [22]:
AirbnbRentals.head()

,name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,availability_365
0,*UT/Hyde Park Craftsman Apartment,78705,30.30002,-97.73637,Entire home/apt,102,1,232,0
1,Zen-East in the Heart of Austin (monthly rental),78702,30.27752,-97.71377,Entire home/apt,179,7,26,0
2,"Eco friendly, Colorful, Clean, Cozy monthly share",78702,30.27614,-97.71320,Private room,114,30,9,0
3,"Walk to 6th, Rainey St and Convention Ctr",78702,30.26057,-97.73441,Entire home/apt,104,2,578,345
4,NW Austin Room,78729,30.45697,-97.78422,Private room,39,1,264,0

In [23]:
#Removing null data

In [24]:
AirbnbRentals['neighbourhood'].value_counts()

Bedford-Stuyvesant    2821
Williamsburg          2603
Harlem                1971
78704                 1902
Hell's Kitchen        1702
                      ...
Neponsit                 1
78712                    1
Auraria                  1
Maywood Park             1
Burnside                 1
Name: neighbourhood, Length: 998, dtype: int64

In [25]:
AirbnbRentals.isnull().sum()

name                 18
neighbourhood         0
latitude              0
longitude             0
room_type             0
price                 0
minimum_nights        0
number_of_reviews     0
availability_365      0
dtype: int64

In [26]:
AirbnbRentals.shape

(126828, 9)

In [27]:
AirbnbRentals = AirbnbRentals.dropna()

In [28]:
AirbnbRentals.shape

(126810, 9)

In [29]:
AirbnbRentals.isnull().sum()

name                 0
neighbourhood        0
latitude             0
longitude            0
room_type            0
price                0
minimum_nights       0
number_of_reviews    0
availability_365     0
dtype: int64

In [30]:
#Checking data types and names for remaining columns

In [31]:
print(AirbnbRentals.dtypes)

name                  object
neighbourhood         object
latitude             float64
longitude            float64
room_type             object
price                  int64
minimum_nights         int64
number_of_reviews      int64
availability_365       int64
dtype: object

In [32]:
AirbnbRentals.columns

Index(['name', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'availability_365'],
      dtype='object')

In [33]:
#Counting totals of each variable in column

In [34]:
AirbnbRentals['room_type'].value_counts()

Entire home/apt    86569
Private room       37717
Shared room         1860
Hotel room           664
Name: room_type, dtype: int64

In [35]:
#Recoding room_type into integers

In [36]:
def room (series): 

    if series == "Entire home/apt":

        return 0

    if series == "Private room": 

        return 1

    if series == "Shared room": 

        return 2

    if series == "Hotel room": 

        return 3

AirbnbRentals['room'] = AirbnbRentals['room_type'].apply(room)

In [37]:
AirbnbRentals.head()

,name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,availability_365,room
0,*UT/Hyde Park Craftsman Apartment,78705,30.30002,-97.73637,Entire home/apt,102,1,232,0,0
1,Zen-East in the Heart of Austin (monthly rental),78702,30.27752,-97.71377,Entire home/apt,179,7,26,0,0
2,"Eco friendly, Colorful, Clean, Cozy monthly share",78702,30.27614,-97.71320,Private room,114,30,9,0,1
3,"Walk to 6th, Rainey St and Convention Ctr",78702,30.26057,-97.73441,Entire home/apt,104,2,578,345,0
4,NW Austin Room,78729,30.45697,-97.78422,Private room,39,1,264,0,1

In [38]:
AirbnbRentals.columns

Index(['name', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'availability_365', 'room'],
      dtype='object')

In [39]:
AirbnbRentals.to_csv("C:/Users/vanch/Desktop/Entity/DSO110/Wrangled Cities 2.0/AustinW.csv")