In [1]:
import pandas as pd
import numpy as np

In [2]:
#Loading dataset from folder location

In [3]:
AirbnbRentals = pd.read_csv("C:/Users/vanch/Desktop/Entity/DSO110/Wrangled Cities 2.0/Nashville.csv")

In [4]:
AirbnbRentals.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,6422,Nashville Charm,12172,Michele,NaN,District 6,36.17315,-86.73581,Private room,40,30,674,2020-03-03,4.38,1,199,0,NaN
1,39870,Close to Vanderbilt 2,171184,Evelyn,NaN,District 18,36.12523,-86.81278,Private room,60,1,267,2021-12-04,4.17,1,233,5,NaN
2,72906,Vandy/Belmont/10 mins to Broadway - Sunny 800 ...,176117,Richard Carson,NaN,District 18,36.13122,-86.80066,Entire home/apt,81,2,607,2021-12-12,4.74,1,30,5,NaN
3,258817,ButterflyRoom-private bath- open in oct,22296,Diana,NaN,District 12,36.16249,-86.58988,Private room,36,30,96,2019-12-14,0.79,7,354,0,NaN
4,289242,"MorningstarHouse, monthly room- open sept",22296,Diana,NaN,District 12,36.16102,-86.59207,Private room,34,30,76,2019-01-12,0.63,7,354,0,NaN

In [5]:
#Checking for columns and names of columns

In [6]:
AirbnbRentals.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')

In [7]:
#Removing columns with irrelevant information

In [8]:
AirbnbRentals.drop(['id', 'host_id', 'host_name', 'neighbourhood_group', 'number_of_reviews_ltm', 'last_review',
                    'reviews_per_month', 'calculated_host_listings_count', 'license'],axis=1, inplace=True)

In [9]:
AirbnbRentals.head()

,name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,availability_365
0,Nashville Charm,District 6,36.17315,-86.73581,Private room,40,30,674,199
1,Close to Vanderbilt 2,District 18,36.12523,-86.81278,Private room,60,1,267,233
2,Vandy/Belmont/10 mins to Broadway - Sunny 800 ...,District 18,36.13122,-86.80066,Entire home/apt,81,2,607,30
3,ButterflyRoom-private bath- open in oct,District 12,36.16249,-86.58988,Private room,36,30,96,354
4,"MorningstarHouse, monthly room- open sept",District 12,36.16102,-86.59207,Private room,34,30,76,354

In [10]:
#Removing for null data

In [11]:
AirbnbRentals['neighbourhood'].value_counts()

District 19    1435
District 17     808
District 5      644
District 21     606
District 6      501
District 15     308
District 7      236
District 18     223
District 2      216
District 20     161
District 8      135
District 24     128
District 16     114
District 13      82
District 14      67
District 12      64
District 26      62
District 25      56
District 1       53
District 30      43
District 3       43
District 29      39
District 23      36
District 10      33
District 11      31
District 4       31
District 27      31
District 22      28
District 35      26
District 28      24
District 31      23
District 33      22
District 32      20
District 9       17
District 34      14
Name: neighbourhood, dtype: int64

In [12]:
AirbnbRentals.isnull().sum()

name                 1
neighbourhood        0
latitude             0
longitude            0
room_type            0
price                0
minimum_nights       0
number_of_reviews    0
availability_365     0
dtype: int64

In [13]:
AirbnbRentals.shape

(6360, 9)

In [14]:
AirbnbRentals.dropna(inplace=True)

In [15]:
AirbnbRentals.isnull().sum()

name                 0
neighbourhood        0
latitude             0
longitude            0
room_type            0
price                0
minimum_nights       0
number_of_reviews    0
availability_365     0
dtype: int64

In [16]:
AirbnbRentals.shape

(6359, 9)

In [17]:
#Checking data types and names for remaining columns

In [18]:
print(AirbnbRentals.dtypes)

name                  object
neighbourhood         object
latitude             float64
longitude            float64
room_type             object
price                  int64
minimum_nights         int64
number_of_reviews      int64
availability_365       int64
dtype: object

In [19]:
AirbnbRentals.columns

Index(['name', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'availability_365'],
      dtype='object')

In [20]:
#Counting totals of each variable in column

In [21]:
AirbnbRentals['room_type'].value_counts()

Entire home/apt    5602
Private room        685
Hotel room           56
Shared room          16
Name: room_type, dtype: int64

In [22]:
#Recoding room_type into integers

In [23]:
def room (series): 

    if series == "Entire home/apt":

        return 0

    if series == "Private room": 

        return 1

    if series == "Shared room": 

        return 2

    if series == "Hotel room": 

        return 3

AirbnbRentals['room'] = AirbnbRentals['room_type'].apply(room)

In [24]:
AirbnbRentals.head()

,name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,availability_365,room
0,Nashville Charm,District 6,36.17315,-86.73581,Private room,40,30,674,199,1
1,Close to Vanderbilt 2,District 18,36.12523,-86.81278,Private room,60,1,267,233,1
2,Vandy/Belmont/10 mins to Broadway - Sunny 800 ...,District 18,36.13122,-86.80066,Entire home/apt,81,2,607,30,0
3,ButterflyRoom-private bath- open in oct,District 12,36.16249,-86.58988,Private room,36,30,96,354,1
4,"MorningstarHouse, monthly room- open sept",District 12,36.16102,-86.59207,Private room,34,30,76,354,1

In [25]:
AirbnbRentals.columns

Index(['name', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'availability_365', 'room'],
      dtype='object')

In [26]:
AirbnbRentals.to_csv("C:/Users/vanch/Desktop/Entity/DSO110/Wrangled Cities 2.0/Nashville.csv")