In [1]:
import pandas as pd
import numpy as np

In [2]:
#Loading datasets from folder location

In [3]:
Austin = pd.read_csv("C:/Users/vanch/Desktop/Entity/DSO110/Wrangled Cities 2.0/Austin.csv")
Boston = pd.read_csv("C:/Users/vanch/Desktop/Entity/DSO110/Wrangled Cities 2.0/Boston.csv")
Chicago = pd.read_csv("C:/Users/vanch/Desktop/Entity/DSO110/Wrangled Cities 2.0/Chicago.csv")
Denver = pd.read_csv("C:/Users/vanch/Desktop/Entity/DSO110/Wrangled Cities 2.0/Denver.csv")
LA = pd.read_csv("C:/Users/vanch/Desktop/Entity/DSO110/Wrangled Cities 2.0/Los Angeles.csv")
Nashville = pd.read_csv("C:/Users/vanch/Desktop/Entity/DSO110/Wrangled Cities 2.0/Nashville.csv")
NC = pd.read_excel("C:/Users/vanch/Desktop/Entity/DSO110/Wrangled Cities 2.0/North Carolina.xlsx")
NO = pd.read_excel("C:/Users/vanch/Desktop/Entity/DSO110/Wrangled Cities 2.0/New Orleans.xlsx")
NY = pd.read_excel("C:/Users/vanch/Desktop/Entity/DSO110/Wrangled Cities 2.0/New York.xlsx")
Portland = pd.read_csv("C:/Users/vanch/Desktop/Entity/DSO110/Wrangled Cities 2.0/Portland.csv")
SF = pd.read_csv("C:/Users/vanch/Desktop/Entity/DSO110/Wrangled Cities 2.0/San Francisco.csv")

In [4]:
#Merging all datasets together into new AirbnbRentals dataset

In [5]:
AirbnbRentals = Austin.append(Chicago)

In [6]:
AirbnbRentals = AirbnbRentals.append(Boston)

In [7]:
AirbnbRentals = AirbnbRentals.append(LA)

In [8]:
AirbnbRentals = AirbnbRentals.append(Nashville)

In [9]:
AirbnbRentals = AirbnbRentals.append(Portland)

In [10]:
AirbnbRentals = AirbnbRentals.append(NO)

In [11]:
AirbnbRentals = AirbnbRentals.append(NC)

In [12]:
AirbnbRentals = AirbnbRentals.append(NY)

In [13]:
AirbnbRentals = AirbnbRentals.append(SF)

In [14]:
AirbnbRentals = AirbnbRentals.append(Denver)

In [15]:
#Checking end of dataset to ensure merge went through

In [16]:
AirbnbRentals.tail()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
4093,54011776,"Luxe Sloan's Lake 2BR w/ Gym, W/D & Roof Deck,...",107434423,Blueground,NaN,West Colfax,39.742344,-105.028046,Entire home/apt,173,31,0,NaN,NaN,98,333,0,NaN
4094,54012146,"Sleek Sloan's Lake 1BR w/ Gym, W/D & Roof Deck...",107434423,Blueground,NaN,West Colfax,39.742344,-105.028046,Entire home/apt,120,31,0,NaN,NaN,98,333,0,NaN
4095,54016983,Enjoy an apartment-style room in the Catbird H...,435252208,Courtney,NaN,Cole,39.768932,-104.972970,Private room,58,30,0,NaN,NaN,2,319,0,NaN
4096,54021625,Upscale apartment home | 1BR in Denver,359071917,Raquel,NaN,Civic Center,39.731381,-104.990088,Entire home/apt,216,30,0,NaN,NaN,110,365,0,NaN
4097,54030228,Live + Work + Stay + Easy | 2BR in Denver,359071917,Raquel,NaN,Lowry Field,39.722496,-104.875578,Entire home/apt,149,30,0,NaN,NaN,110,365,0,NaN

In [17]:
#Checking for columns and names of columns

In [18]:
AirbnbRentals.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')

In [19]:
#Removing columns with irrelevant information

In [20]:
AirbnbRentals.drop(['id', 'host_id', 'host_name', 'neighbourhood_group', 'number_of_reviews_ltm', 'last_review',
                    'reviews_per_month', 'calculated_host_listings_count', 'license'],axis=1, inplace=True)

In [21]:
AirbnbRentals.head()

,name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,availability_365
0,*UT/Hyde Park Craftsman Apartment,78705,30.30002,-97.73637,Entire home/apt,102,1,232,0
1,Zen-East in the Heart of Austin (monthly rental),78702,30.27752,-97.71377,Entire home/apt,179,7,26,0
2,"Eco friendly, Colorful, Clean, Cozy monthly share",78702,30.27614,-97.71320,Private room,114,30,9,0
3,"Walk to 6th, Rainey St and Convention Ctr",78702,30.26057,-97.73441,Entire home/apt,104,2,578,345
4,NW Austin Room,78729,30.45697,-97.78422,Private room,39,1,264,0

In [22]:
#Recoding availability and minimum nights into percentage

In [23]:
#(100. * AirbnbRentals.availability_365 / AirbnbRentals.sum()).round(1).astype(str) + '%'

In [24]:
AirbnbRentals['neighbourhood'].value_counts()

Bedford-Stuyvesant    2821
Williamsburg          2603
Harlem                1971
78704                 1902
Hell's Kitchen        1702
                      ...
South Diamond Bar        1
Bradbury                 1
Woodrow                  1
Avalon Park              1
Graniteville             1
Name: neighbourhood, Length: 915, dtype: int64

In [25]:
AirbnbRentals.isnull().sum()

name                 18
neighbourhood         0
latitude              0
longitude             0
room_type             0
price                 0
minimum_nights        0
number_of_reviews     0
availability_365      0
dtype: int64

In [26]:
AirbnbRentals.shape

(122142, 9)

In [27]:
AirbnbRentals = AirbnbRentals.dropna()

In [28]:
AirbnbRentals.shape

(122124, 9)

In [29]:
AirbnbRentals.isnull().sum()

name                 0
neighbourhood        0
latitude             0
longitude            0
room_type            0
price                0
minimum_nights       0
number_of_reviews    0
availability_365     0
dtype: int64

In [30]:
#Checking data types and names for remaining columns

In [31]:
print(AirbnbRentals.dtypes)

name                  object
neighbourhood         object
latitude             float64
longitude            float64
room_type             object
price                  int64
minimum_nights         int64
number_of_reviews      int64
availability_365       int64
dtype: object

In [32]:
AirbnbRentals.columns

Index(['name', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'availability_365'],
      dtype='object')

In [33]:
#Counting totals of each variable in column

In [34]:
AirbnbRentals['room_type'].value_counts()

Entire home/apt    82687
Private room       36967
Shared room         1809
Hotel room           661
Name: room_type, dtype: int64

In [35]:
#Recoding room_type into integers

In [36]:
def room (series): 

    if series == "Entire home/apt":

        return 0

    if series == "Private room": 

        return 1

    if series == "Shared room": 

        return 2

    if series == "Hotel room": 

        return 3

AirbnbRentals['room'] = AirbnbRentals['room_type'].apply(room)

In [37]:
AirbnbRentals.head()

,name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,availability_365,room
0,*UT/Hyde Park Craftsman Apartment,78705,30.30002,-97.73637,Entire home/apt,102,1,232,0,0
1,Zen-East in the Heart of Austin (monthly rental),78702,30.27752,-97.71377,Entire home/apt,179,7,26,0,0
2,"Eco friendly, Colorful, Clean, Cozy monthly share",78702,30.27614,-97.71320,Private room,114,30,9,0,1
3,"Walk to 6th, Rainey St and Convention Ctr",78702,30.26057,-97.73441,Entire home/apt,104,2,578,345,0
4,NW Austin Room,78729,30.45697,-97.78422,Private room,39,1,264,0,1

In [38]:
AirbnbRentals.columns

Index(['name', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'availability_365', 'room'],
      dtype='object')

In [39]:
AirbnbRentals.to_csv("C:/Users/vanch/Desktop/Entity/DSO110/Wrangled Cities 2.0/AirbnbRentalsWrangle.csv")