In [1]:
import pandas as pd
import numpy as np

In [2]:
#Loading dataset from folder location

In [3]:
AirbnbRentals = pd.read_csv("C:/Users/vanch/Desktop/Entity/DSO110/Wrangled Cities 2.0/Denver.csv")

In [4]:
AirbnbRentals.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2384,Hyde Park - Walk to University of Chicago,2613,Rebecca,NaN,Hyde Park,41.78790,-87.58780,Private room,95,3,192,2021-11-07,2.27,1,355,11,R17000015609
1,7126,Tiny Studio Apartment 94 Walk Score,17928,Sarah,NaN,West Town,41.90166,-87.68021,Entire home/apt,65,2,425,2021-11-28,2.80,1,165,38,R18000034991
2,10945,The Biddle House (#1),33004,At Home Inn,NaN,Lincoln Park,41.91196,-87.63981,Entire home/apt,127,4,39,2021-11-14,0.42,8,98,18,2120297
3,12140,Lincoln Park Guest House,46734,Sharon And Robert,NaN,Lincoln Park,41.92357,-87.64947,Private room,329,2,7,2021-07-06,0.09,1,179,3,R20000055258
4,22362,Luxury in Chicago! 2BR/ 2Ba / Parking / BBQ,85811,Craig,NaN,West Town,41.89730,-87.65889,Entire home/apt,105,121,9,2014-10-12,0.09,2,365,0,R17000018689

In [5]:
#Checking for columns and names of columns

In [6]:
AirbnbRentals.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')

In [7]:
#Removing columns with irrelevant information

In [8]:
AirbnbRentals.drop(['id', 'host_id', 'host_name', 'neighbourhood_group', 'number_of_reviews_ltm', 'last_review',
                    'reviews_per_month', 'calculated_host_listings_count', 'license'],axis=1, inplace=True)

In [9]:
AirbnbRentals.head()

,name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,availability_365
0,Hyde Park - Walk to University of Chicago,Hyde Park,41.78790,-87.58780,Private room,95,3,192,355
1,Tiny Studio Apartment 94 Walk Score,West Town,41.90166,-87.68021,Entire home/apt,65,2,425,165
2,The Biddle House (#1),Lincoln Park,41.91196,-87.63981,Entire home/apt,127,4,39,98
3,Lincoln Park Guest House,Lincoln Park,41.92357,-87.64947,Private room,329,2,7,179
4,Luxury in Chicago! 2BR/ 2Ba / Parking / BBQ,West Town,41.89730,-87.65889,Entire home/apt,105,121,9,365

In [10]:
#Removing null data

In [11]:
AirbnbRentals['neighbourhood'].value_counts()

Near North Side    760
West Town          709
Lake View          561
Near West Side     407
Logan Square       398
                  ...
Gage Park            1
West Elsdon          1
Avalon Park          1
Burnside             1
Edison Park          1
Name: neighbourhood, Length: 76, dtype: int64

In [12]:
AirbnbRentals.isnull().sum()

name                 0
neighbourhood        0
latitude             0
longitude            0
room_type            0
price                0
minimum_nights       0
number_of_reviews    0
availability_365     0
dtype: int64

In [13]:
AirbnbRentals.shape

(6544, 9)

In [14]:
AirbnbRentals = AirbnbRentals.dropna()

In [15]:
AirbnbRentals.shape

(6544, 9)

In [16]:
AirbnbRentals.isnull().sum()

name                 0
neighbourhood        0
latitude             0
longitude            0
room_type            0
price                0
minimum_nights       0
number_of_reviews    0
availability_365     0
dtype: int64

In [17]:
#Checking data types and names for remaining columns

In [18]:
print(AirbnbRentals.dtypes)

name                  object
neighbourhood         object
latitude             float64
longitude            float64
room_type             object
price                  int64
minimum_nights         int64
number_of_reviews      int64
availability_365       int64
dtype: object

In [19]:
AirbnbRentals.columns

Index(['name', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'availability_365'],
      dtype='object')

In [20]:
#Counting totals of each variable in column

In [21]:
AirbnbRentals['room_type'].value_counts()

Entire home/apt    4763
Private room       1631
Shared room          89
Hotel room           61
Name: room_type, dtype: int64

In [22]:
#Recoding room_type into integers

In [23]:
def room (series): 

    if series == "Entire home/apt":

        return 0

    if series == "Private room": 

        return 1

    if series == "Shared room": 

        return 2

    if series == "Hotel room": 

        return 3

AirbnbRentals['room'] = AirbnbRentals['room_type'].apply(room)

In [24]:
AirbnbRentals.head()

,name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,availability_365,room
0,Hyde Park - Walk to University of Chicago,Hyde Park,41.78790,-87.58780,Private room,95,3,192,355,1
1,Tiny Studio Apartment 94 Walk Score,West Town,41.90166,-87.68021,Entire home/apt,65,2,425,165,0
2,The Biddle House (#1),Lincoln Park,41.91196,-87.63981,Entire home/apt,127,4,39,98,0
3,Lincoln Park Guest House,Lincoln Park,41.92357,-87.64947,Private room,329,2,7,179,1
4,Luxury in Chicago! 2BR/ 2Ba / Parking / BBQ,West Town,41.89730,-87.65889,Entire home/apt,105,121,9,365,0

In [25]:
AirbnbRentals.columns

Index(['name', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'availability_365', 'room'],
      dtype='object')

In [26]:
AirbnbRentals.to_csv("C:/Users/vanch/Desktop/Entity/DSO110/Wrangled Cities 2.0/ChicagoW.csv")