In [1]:
import pandas as pd
import numpy as np

In [2]:
#Loading dataset from folder location

In [3]:
AirbnbRentals = pd.read_csv("C:/Users/vanch/Desktop/Entity/DSO110/Wrangled Cities 2.0/Denver.csv")

In [4]:
AirbnbRentals.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,177,Tiny Home in the Heart of the City- ECO FRIENDLY,615,Joe,NaN,Virginia Village,39.69551,-104.92489,Entire home/apt,79,1,96,2021-11-15,1.48,2,329,19,2016-BFN-0004968
1,360,Sit in the Peaceful Garden of the Chickadee Co...,666,Jennifer & Giovanni,NaN,Highland,39.76758,-105.00316,Entire home/apt,133,30,167,2021-10-30,4.05,2,88,34,2017-BFN-0002177
2,364,Lodo / RiNo LOFT via airport train,783,Jason,NaN,Five Points,39.76672,-104.97906,Entire home/apt,179,185,87,2016-04-26,0.57,1,362,0,NaN
3,590,Comfortable - and a great value!,933,Jill,NaN,North Park Hill,39.75511,-104.91109,Private room,55,2,642,2021-12-15,4.13,2,239,36,2021-BFN-0000578
4,592,private,933,Jill,NaN,North Park Hill,39.75481,-104.91106,Private room,52,1,165,2021-12-19,1.05,2,40,9,2021-BFN-0000578

In [5]:
#Checking for columns and names of columns

In [6]:
AirbnbRentals.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')

In [7]:
#Removing columns with irrelevant information

In [8]:
AirbnbRentals.drop(['id', 'host_id', 'host_name', 'neighbourhood_group', 'number_of_reviews_ltm', 'last_review',
                    'reviews_per_month', 'calculated_host_listings_count', 'license'],axis=1, inplace=True)

In [9]:
AirbnbRentals.head()

,name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,availability_365
0,Tiny Home in the Heart of the City- ECO FRIENDLY,Virginia Village,39.69551,-104.92489,Entire home/apt,79,1,96,329
1,Sit in the Peaceful Garden of the Chickadee Co...,Highland,39.76758,-105.00316,Entire home/apt,133,30,167,88
2,Lodo / RiNo LOFT via airport train,Five Points,39.76672,-104.97906,Entire home/apt,179,185,87,362
3,Comfortable - and a great value!,North Park Hill,39.75511,-104.91109,Private room,55,2,642,239
4,private,North Park Hill,39.75481,-104.91106,Private room,52,1,165,40

In [10]:
#Checking for null data

In [11]:
AirbnbRentals['neighbourhood'].value_counts()

Highland          325
Five Points       324
Union Station     187
West Colfax       147
CBD               146
                 ...
Southmoor Park      6
Marston             3
Kennedy             3
Sun Valley          1
Auraria             1
Name: neighbourhood, Length: 78, dtype: int64

In [12]:
AirbnbRentals.isnull().sum()

name                 0
neighbourhood        0
latitude             0
longitude            0
room_type            0
price                0
minimum_nights       0
number_of_reviews    0
availability_365     0
dtype: int64

In [13]:
AirbnbRentals.shape

(4098, 9)

In [17]:
#Checking data types and names for remaining columns

In [18]:
print(AirbnbRentals.dtypes)

name                  object
neighbourhood         object
latitude             float64
longitude            float64
room_type             object
price                  int64
minimum_nights         int64
number_of_reviews      int64
availability_365       int64
dtype: object

In [19]:
AirbnbRentals.columns

Index(['name', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'availability_365'],
      dtype='object')

In [20]:
#Counting totals of each variable in column

In [21]:
AirbnbRentals['room_type'].value_counts()

Entire home/apt    3399
Private room        654
Shared room          31
Hotel room           14
Name: room_type, dtype: int64

In [22]:
#Recoding room_type into integers

In [23]:
def room (series): 

    if series == "Entire home/apt":

        return 0

    if series == "Private room": 

        return 1

    if series == "Shared room": 

        return 2

    if series == "Hotel room": 

        return 3

AirbnbRentals['room'] = AirbnbRentals['room_type'].apply(room)

In [24]:
AirbnbRentals.head()

,name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,availability_365,room
0,Tiny Home in the Heart of the City- ECO FRIENDLY,Virginia Village,39.69551,-104.92489,Entire home/apt,79,1,96,329,0
1,Sit in the Peaceful Garden of the Chickadee Co...,Highland,39.76758,-105.00316,Entire home/apt,133,30,167,88,0
2,Lodo / RiNo LOFT via airport train,Five Points,39.76672,-104.97906,Entire home/apt,179,185,87,362,0
3,Comfortable - and a great value!,North Park Hill,39.75511,-104.91109,Private room,55,2,642,239,1
4,private,North Park Hill,39.75481,-104.91106,Private room,52,1,165,40,1

In [25]:
AirbnbRentals.columns

Index(['name', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'availability_365', 'room'],
      dtype='object')

In [26]:
AirbnbRentals.to_csv("C:/Users/vanch/Desktop/Entity/DSO110/Wrangled Cities 2.0/DenverW.csv")