In [1]:
import pandas as pd
import numpy as np

In [2]:
#Loading dataset from folder location

In [3]:
AirbnbRentals = pd.read_excel("C:/Users/vanch/Desktop/Entity/DSO110/Wrangled Cities 2.0/New York.xlsx")

In [4]:
AirbnbRentals.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,150,30,48,2019-11-04,0.33,3,338,0,NaN
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Bedford-Stuyvesant,40.68494,-73.95765,Entire home/apt,75,1,409,2021-10-22,4.86,1,194,32,NaN
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68535,-73.95512,Private room,60,30,50,2016-06-05,0.52,2,365,0,NaN
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66265,-73.99454,Entire home/apt,275,5,2,2021-08-08,0.02,1,123,1,NaN
4,5178,Large Furnished Room Near B'wayã€€,8967,Shunichi,Manhattan,Midtown,40.76457,-73.98317,Private room,68,2,507,2021-11-08,3.68,1,192,33,NaN

In [5]:
#Checking for columns and names of columns

In [6]:
AirbnbRentals.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')

In [7]:
#Removing columns with irrelevant information

In [8]:
AirbnbRentals.drop(['id', 'host_id', 'host_name', 'neighbourhood_group', 'number_of_reviews_ltm', 'last_review',
                    'reviews_per_month', 'calculated_host_listings_count', 'license'],axis=1, inplace=True)

In [9]:
AirbnbRentals.head()

,name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,availability_365
0,Skylit Midtown Castle,Midtown,40.75356,-73.98559,Entire home/apt,150,30,48,338
1,"Whole flr w/private bdrm, bath & kitchen(pls r...",Bedford-Stuyvesant,40.68494,-73.95765,Entire home/apt,75,1,409,194
2,BlissArtsSpace!,Bedford-Stuyvesant,40.68535,-73.95512,Private room,60,30,50,365
3,"Spacious Brooklyn Duplex, Patio + Garden",Sunset Park,40.66265,-73.99454,Entire home/apt,275,5,2,123
4,Large Furnished Room Near B'wayã€€,Midtown,40.76457,-73.98317,Private room,68,2,507,192

In [10]:
#Checking district counts

In [11]:
AirbnbRentals['neighbourhood'].value_counts()

Bedford-Stuyvesant    2821
Williamsburg          2603
Harlem                1971
Hell's Kitchen        1702
Bushwick              1693
                      ...
Woodrow                  1
Country Club             1
Castle Hill              1
Neponsit                 1
Fort Wadsworth           1
Name: neighbourhood, Length: 222, dtype: int64

In [12]:
#Checking for null data

In [13]:
AirbnbRentals.isnull().sum()

name                 15
neighbourhood         0
latitude              0
longitude             0
room_type             0
price                 0
minimum_nights        0
number_of_reviews     0
availability_365      0
dtype: int64

In [14]:
AirbnbRentals.shape

(38277, 9)

In [15]:
AirbnbRentals.dropna(inplace=True)

In [16]:
AirbnbRentals.isnull().sum()

name                 0
neighbourhood        0
latitude             0
longitude            0
room_type            0
price                0
minimum_nights       0
number_of_reviews    0
availability_365     0
dtype: int64

In [17]:
AirbnbRentals.shape

(38262, 9)

In [18]:
#Checking data types and names for remaining columns

In [19]:
print(AirbnbRentals.dtypes)

name                  object
neighbourhood         object
latitude             float64
longitude            float64
room_type             object
price                  int64
minimum_nights         int64
number_of_reviews      int64
availability_365       int64
dtype: object

In [20]:
AirbnbRentals.columns

Index(['name', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'availability_365'],
      dtype='object')

In [21]:
#Counting totals of each variable in column

In [22]:
AirbnbRentals['room_type'].value_counts()

Entire home/apt    20392
Private room       17089
Shared room          571
Hotel room           210
Name: room_type, dtype: int64

In [23]:
#Recoding room_type into integers

In [24]:
def room (series): 

    if series == "Entire home/apt":

        return 0

    if series == "Private room": 

        return 1

    if series == "Shared room": 

        return 2

    if series == "Hotel room": 

        return 3

AirbnbRentals['room'] = AirbnbRentals['room_type'].apply(room)

In [25]:
AirbnbRentals.head()

,name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,availability_365,room
0,Skylit Midtown Castle,Midtown,40.75356,-73.98559,Entire home/apt,150,30,48,338,0
1,"Whole flr w/private bdrm, bath & kitchen(pls r...",Bedford-Stuyvesant,40.68494,-73.95765,Entire home/apt,75,1,409,194,0
2,BlissArtsSpace!,Bedford-Stuyvesant,40.68535,-73.95512,Private room,60,30,50,365,1
3,"Spacious Brooklyn Duplex, Patio + Garden",Sunset Park,40.66265,-73.99454,Entire home/apt,275,5,2,123,0
4,Large Furnished Room Near B'wayã€€,Midtown,40.76457,-73.98317,Private room,68,2,507,192,1

In [26]:
AirbnbRentals.columns

Index(['name', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'availability_365', 'room'],
      dtype='object')

In [27]:
AirbnbRentals.to_csv("C:/Users/vanch/Desktop/Entity/DSO110/Wrangled Cities 2.0/NY.csv")