In [1]:
import pandas as pd
import numpy as np

In [2]:
#Loading dataset from folder location

In [3]:
AirbnbRentals = pd.read_csv("C:/Users/vanch/Desktop/Entity/DSO110/Wrangled Cities 2.0/San Francisco.csv")

In [4]:
AirbnbRentals.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61094,-122.29286,Entire home/apt,333,7,36,2021-11-30,0.22,1,332,4,STR-OPLI-19-002837
1,6606,"Fab, private seattle urban cottage!",14942,Joyce,Other neighborhoods,Wallingford,47.65444,-122.33629,Entire home/apt,99,3,157,2021-09-14,1.04,2,0,8,str-opli-19-002622
2,9419,Glorious sun room w/ memory foambed,30559,Angielena,Other neighborhoods,Georgetown,47.55017,-122.31937,Private room,62,2,154,2021-10-16,1.11,8,365,6,STR-OPLI-19-003039
3,9531,The Adorable Sweet Orange Craftsman,31481,Cassie,West Seattle,Fairmount Park,47.55495,-122.38663,Entire home/apt,185,2,54,2021-12-07,0.45,2,269,13,STR-OPLI-19-002182
4,9534,The Coolest Tangerine Dream MIL!,31481,Cassie,West Seattle,Fairmount Park,47.55627,-122.38607,Entire home/apt,145,5,59,2021-10-15,0.49,2,202,5,STR-OPLI-19-002182

In [5]:
#Checking for columns and names of columns

In [6]:
AirbnbRentals.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')

In [7]:
#Removing columns with irrelevant information

In [8]:
AirbnbRentals.drop(['id', 'host_id', 'host_name', 'neighbourhood_group', 'number_of_reviews_ltm', 'last_review',
                    'reviews_per_month', 'calculated_host_listings_count', 'license'],axis=1, inplace=True)

In [9]:
AirbnbRentals.head()

,name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,availability_365
0,Casa Madrona - Urban Oasis 1 block from the park!,Madrona,47.61094,-122.29286,Entire home/apt,333,7,36,332
1,"Fab, private seattle urban cottage!",Wallingford,47.65444,-122.33629,Entire home/apt,99,3,157,0
2,Glorious sun room w/ memory foambed,Georgetown,47.55017,-122.31937,Private room,62,2,154,365
3,The Adorable Sweet Orange Craftsman,Fairmount Park,47.55495,-122.38663,Entire home/apt,185,2,54,269
4,The Coolest Tangerine Dream MIL!,Fairmount Park,47.55627,-122.38607,Entire home/apt,145,5,59,202

In [10]:
#Checking district counts

In [11]:
AirbnbRentals['neighbourhood'].value_counts()

Belltown               286
Broadway               285
University District    180
Fremont                167
Wallingford            154
                      ...
Windermere               7
Holly Park               5
Meadowbrook              5
Harbor Island            1
Industrial District      1
Name: neighbourhood, Length: 89, dtype: int64

In [12]:
#Checking for null data

In [13]:
AirbnbRentals.isnull().sum()

name                 0
neighbourhood        0
latitude             0
longitude            0
room_type            0
price                0
minimum_nights       0
number_of_reviews    0
availability_365     0
dtype: int64

In [14]:
AirbnbRentals.shape

(4686, 9)

In [15]:
#Checking data types and names for remaining columns

In [16]:
print(AirbnbRentals.dtypes)

name                  object
neighbourhood         object
latitude             float64
longitude            float64
room_type             object
price                  int64
minimum_nights         int64
number_of_reviews      int64
availability_365       int64
dtype: object

In [17]:
AirbnbRentals.columns

Index(['name', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'availability_365'],
      dtype='object')

In [18]:
#Counting totals of each variable in column

In [19]:
AirbnbRentals['room_type'].value_counts()

Entire home/apt    3882
Private room        750
Shared room          51
Hotel room            3
Name: room_type, dtype: int64

In [20]:
#Recoding room_type into integers

In [21]:
def room (series): 

    if series == "Entire home/apt":

        return 0

    if series == "Private room": 

        return 1

    if series == "Shared room": 

        return 2

    if series == "Hotel room": 

        return 3

AirbnbRentals['room'] = AirbnbRentals['room_type'].apply(room)

In [22]:
AirbnbRentals.head()

,name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,availability_365,room
0,Casa Madrona - Urban Oasis 1 block from the park!,Madrona,47.61094,-122.29286,Entire home/apt,333,7,36,332,0
1,"Fab, private seattle urban cottage!",Wallingford,47.65444,-122.33629,Entire home/apt,99,3,157,0,0
2,Glorious sun room w/ memory foambed,Georgetown,47.55017,-122.31937,Private room,62,2,154,365,1
3,The Adorable Sweet Orange Craftsman,Fairmount Park,47.55495,-122.38663,Entire home/apt,185,2,54,269,0
4,The Coolest Tangerine Dream MIL!,Fairmount Park,47.55627,-122.38607,Entire home/apt,145,5,59,202,0

In [23]:
AirbnbRentals.columns

Index(['name', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'availability_365', 'room'],
      dtype='object')

In [24]:
AirbnbRentals.to_csv("C:/Users/vanch/Desktop/Entity/DSO110/Wrangled Cities 2.0/SFW.csv")